:root {
  --ydk-hidden-captions-rgb: 0, 0, 0;
}

/* デスクトップ */
:root[dark],
/* モバイル */
:root:has(.ytSearchboxComponentHostDark) {
  --ydk-hidden-captions-rgb: 255, 255, 255;
}

.youtube-caption-hidden {
  #ytp-caption-window-container,
  #immersive-translate-caption-window {
    display: none !important;
  }
}

#ydk-title-slot {
  display: flex;
  gap: 0.6em;
  justify-content: flex-end;
  margin-top: 1em;
  position: relative;
  width: 100%;
}

#ydk-caption-switch {
  display: flex;
  gap: .2em;
  order: 1;

  label {
    align-items: center;
    background-color: rgba(var(--ydk-hidden-captions-rgb), 0.1);
    border: 1px solid rgba(var(--ydk-hidden-captions-rgb), 0.3);
    border-radius: 3px;
    box-sizing: border-box;
    color: rgba(var(--ydk-hidden-captions-rgb), 0.9);
    cursor: pointer;
    display: flex;
    gap: .4em;
    height: 24px;
    justify-content: center;
    padding: 0 .4em;
    user-select: none;
    &:hover {
      background-color: rgba(var(--ydk-hidden-captions-rgb), 0.2);
    }
  }

  input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(var(--ydk-hidden-captions-rgb), 0.3);
    border-radius: 4px;
    background: transparent;
    display: grid;
    margin: 0;
    place-content: center;
    transition:
      background-color 0.15s ease,
      border-color 0.15s ease;
    &::before {
      content: "";
      width: 8px;
      height: 5px;
      border-left: 2px solid rgba(var(--ydk-hidden-captions-rgb), 0.9);
      border-bottom: 2px solid rgba(var(--ydk-hidden-captions-rgb), 0.9);
      transform: rotate(-45deg) scale(0);
      transform-origin: center;
      transition: transform 0.1s ease;
    }
    &:checked {
      background: rgba(var(--ydk-hidden-captions-rgb), 0.1);
      border-color: rgba(var(--ydk-hidden-captions-rgb), 0.3);
    }
    &:checked::before {
      transform: rotate(-45deg) scale(1);
    }
  }
}
